temp/
data/
logs/
ext/templates
!ext/templates/mni_icbm152_nlin_asym_09b

# Environments
.env
.venv
env/
venv/
ENV/

Documentation
/site
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/MRItremor.iml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
